<form class="profile">
    <div class="profile__container">
        <div class="profile__avatar"></div>
        <div class="profile__user-data">
            {{{ inputEmail }}}
            {{{inputEmailError}}}
            {{{ inputLogin }}}
            {{{inputLoginError}}}
            {{{ inputName }}}
            {{{inputNameError}}}
            {{{ inputSurname }}}
            {{{inputSurnameError}}}
            {{{ inputNickname }}}
            {{{inputNicknameError}}}
            {{{ inputPhoneNumber }}}
            {{{inputPhoneNumberError}}}
        </div>
        {{{button}}}
    </div>
</form>
