<section class="form-auth__container">
    <h2 class="form-auth__title">{{title}}</h2>
    <form class="form-auth__form">
            {{{emailInput}}}
            {{{loginInput}}}
            {{{firstNameInput}}}
            {{{secondNameInput}}}
            {{{phoneInput}}}
            {{{passwordInput}}}
            {{{passwordRepeatInput}}}

            {{{registrationButton}}}
        </form>
    {{{registrationLink}}}

</section>
