<section class="form-auth__container">
  <h2 class="form-auth__title">{{title}}</h2>
  <form class="form-auth__form">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputName}}}
        {{{inputSurname}}}
        {{{inputPhoneNumber}}}
        {{{inputPassword}}}
        {{{inputPasswordAgain}}}
    </form>
    {{{button}}}
    {{{authLink}}}
</section>

