<section class="login__container">
    <h2 class="login__title">{{title}}</h2>
    <form class="login__form">
        {{{inputEmail}}}
        {{{inputLogin}}}
        {{{inputName}}}
        {{{inputSurname}}}
        {{{inputPhoneNumber}}}
        {{{inputPassword}}}
        {{{inputPasswordAgain}}}
    </form>
    {{{button}}}
    {{{authLink}}}
</section>

