<section class="profile__container">
    <div class="profile__go-back-button">
        {{{buttonWithImage}}}
    </div>

<div class="profile__user-wrapper"
    <div class="profile__avatar">
        <div class="profile__image-container">
            <img class="profile__image"
                src='https://ya-praktikum.tech/api/v2/resources{{avatar}}' alt="Profile button">
            <div class="profile__image-container-hover"></div>
            <div class="profile__image-file-input">
                {{{fileInput}}}
                <span class="profile__image-file-button">Choose file</span>
            </div>
        </div>

        <span class="profile__user-name">{{name}}</span>

        <div class="profile__user-data">
            <form action="" class="profile__form-change-data">
                {{{emailInput}}}
                {{{loginInput}}}
                {{{firstNameInput}}}
                {{{secondNameInput}}}
                {{{displayNameInput}}}
                {{{phoneInput}}}
                {{{oldPasswordInput}}}
                {{{passwordInput}}}
                {{{passwordRepeatInput}}}

                    <div class="profile__chat-data-container">
                        {{{changeInfo}}}
                        {{{changePassword}}}
                        {{{buttonExit}}}
                        {{{saveButton}}}
                    </div>
            </form>
        </div>
    </div>

    {{!-- {{> profilePagePopup action=popup.action content=popup.content
    needToChooseFile=popup.needToChooseFile}} --}}
</section>
