<section class="profile__container">
    <div class="profile__avatar"></div>
    <div class="profile__user-data">
        {{{mailInput}}}
        {{{loginInput}}}
        {{{nameInput}}}
        {{{surnameInput}}}
        {{{nicknameInput}}}
        {{{phoneInput}}}


        <div class="profile__chat-data-container">
            <button class="profile__change-data-link">Change email</button>
            <button class="profile__change-data-link">Change password</button>
            <button class="profile__change-data-link">Change avatar</button>
            <button class="profile__button-exit">Log out</button>
        </div>
    </div>

</section>
