<section class="form-auth__container">
    <h2 class="form-auth__title">{{title}}</h2>
    <form class="form-auth__form">
        {{{loginInput}}}
        {{{passwordInput}}}
    {{{button}}}
    </form>
    {{{createLink}}}
</section>
