<div class="profile__input-container">
    <label class="profile__label">{{ label }}</label>
    <input id="{{id}}" type="{{ type }}" name="{{name}}" class="profile__input" placeholder="{{ placeholder}}"/>
</div>
