<main>
<div class="navigation__container">
    <nav>
        <ul>
            {{{signInLink}}}
            {{{signUpLink}}}
            {{{dialogsLink}}}
            {{{profileLink}}}
            {{{pageNotFound}}}
        </ul>
    </nav>
</div>
</main>
