<div class="dialogs__dialog-card" id="{{id}}" {{#if isSelected}} style="background-color: #E4EDFD;" {{/if}}>

    <div class="dialogs__dialog-card-content">
        <span class="dialogs__dialog-card-name">{{title}} {{id}}</span>
        <div class="dialogs__dialog-card-remove-or-add">
            {{{addUserInChatButton}}}
            {{{deleteUserFromChat}}}
        </div>
    </div>
    <div class="dialogs__dialog-card-remove-chat">
        {{{deleteChat}}}
    </div>
</div>

