<div class="login__input__area">
  <p class="login__input-title">{{title}}</p>
  <input
    class="login__input"
    id="{{id}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
    type="{{type}}"
    value="{{value}}"
  />
  <p class="login__input_error-text" id={{idError}}></p>
</div>