<div class="input__area" {{#if hide}} style="display: none;"{{/if}}>
  <input
    class="input"
    id="{{name}}"
    name="{{name}}"
    placeholder="{{placeholder}}"
    type="{{type}}"
    value="{{value}}"
      {{#if disabled }} disabled {{/if}}
  />
{{#if validationError}}
        <p class="input_error-text">{{validationErrorMessage}}</p>
{{/if}}
</div>

